 h1 {
            text-align: center;
            margin-top: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            margin: 20px;
            max-width: 400px;
            background-color: white;
        }

        form label {
            display: block;
            margin-bottom: 5px;
        }

        form input {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #cccccc;
            border-radius: 3px;
        }

        form input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            padding: 8px 16px;
            font-size: 16px;
        }

        form input[type="submit"]:hover {
            background-color: #45a049;
        }
        .content {
            max-width: 500px;
            margin: auto;
        }

        .back-button {
            background-color: #4CAF50;
            color: white;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            margin-top: 10px;
            width: fit-content;
        }

        .back-button:hover {
            background-color: #45a049;
        }
