<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%  if title %}
    <title>Bookstore - {{ title }}</title>
    {% else %}
    <title>Bookstore</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add_book.css') }}">
</head>
<body>
    <div class="header">
        <div class="menu">
            <h2><button onclick="window.location.href='/'">Home</button></h2>
            <h2><button onclick="window.location.href='/books'">Books</button></h2>
            <h2><button onclick="window.location.href='/customers'">Customers</button></h2>
            <h2><button onclick="window.location.href='/orders'">Orders</button></h2>
            <h2><button onclick="window.location.href='/publishers'">Publisher</button></h2>
            <h2><button onclick="window.location.href='/login'">Login</button></h2>
            <h2><button onclick="window.location.href='/signup'">Sign Up</button></h2>
        </div>
    </div>

    <h1>Add Book</h1>
    <div class="content">
    <form action="/books/add" method="POST">
        <label>Title:</label>
        <input type="text" name="title" required><br>
        <label>Author:</label>
        <input type="text" name="author" required><br>
        <label>Price:</label>
        <input type="number" step="0.01" name="price" required><br>
        <label>Publication Year:</label>
        <input type="number" name="publication_year" required><br>
        <label>Publisher:</label>
        <select name="publisher_id" required>
            {% for publisher in publishers %}
            <option value="{{ publisher[0] }}">{{ publisher[1] }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Add Book">
    </form>
    <br>
    <a href="/books" class="back-button">Back</a>
</div>
</body>
</html>
